<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="WcfService1.Service1" behaviorConfiguration="debug" >
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  contract="WcfService1.IService1"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58649"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>